<div class="">
  <table cellpadding='5' border='1'>
    <tr>
      <td>User Name:</td>
      <td><input type="text" value=' sagar' disabled="disabled"></td>
    </tr>
    <tr>
      <td>PPassword:</td>
      <td><input type="password"></td>
    </tr>
    <tr>
      <td class="Password">
        {{> forgotpasswordPartials}}
      </td>
    </tr>
  </table>
</div>
