<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src='js/angular.min.js'>

    </script>
  </head>
  <body>
          <input type="text" name="name" value="" ng-model='myBox' placeholder="Search by name" style="font-size:20px;"> {{myBox}} <br><br>

          <!-- <div class="" ng-init="name=['sagar','sneha','shaurya','ketan','suma','manoj','saisha','ananya','aditya']"> -->
          <div class="" ng-init="name=[{'name':'sagar','age':'32'},{'name':'sneha','age':'22'},{'name':'shaurya','age':'2'},{'name':'suma','age':'31'},{'name':'manoj','age':'38'},{'name':'ketan','age':'37'},{'name':'ananya','age':'8'},{'name':'aditya','age':'4'}]">

          <!-- <ul>
            <li ng-repeat='self in name | filter:myBox '>{{self.name | uppercase}} - {{self.age}} Years Old</li>
          </ul> -->

          <table border=1 cellpadding='10'>
            <tr>
              <td>
                <b>NAME</b>
              </td>
              <td>
                <b>AGE</b>
              </td>
            </tr>
            <tr ng-repeat='self in name | filter:myBox'>
              <td>{{self.name | uppercase}}</td>
              <td>{{self.age}}</td>
            </tr>
          </table>

          </div>
  </body>
</html>
