<div class="overlayContainer">
  <div class="disabledBackground">
  </div>
  <div class="overlay">
      <table cellpadding="10">
        <tr>
          <td>User Name:</td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password"></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="button" id='addSongOverlayBtn'>Add</button>&nbsp;
            <button type="button" id='CancelSongOverlayBtn' class="addMoreSongsClass">Cancel</button>
          </td>
        </tr>
      </table>
  </div>
</div>
